name: Build and deploy
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - "*.md"
      - "LICENSE"
      - "CODEOWNERS"
      - ".gitignore"
      - ".zed/**"

jobs:
  build:
    name: Build and deploy
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"

      - name: Build Go application
        run: CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -o server .

      - name: Build and push
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          team: klage

      - name: Deploy to dev
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: nais/nais.yaml
          VAR: image=${{ steps.docker-build-push.outputs.image }},version=${{ github.sha }}

      - name: Deploy to prod
        if: github.ref == 'refs/heads/main'
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: nais/nais.yaml
          VAR: image=${{ steps.docker-build-push.outputs.image }},version=${{ github.sha }}
